<% @prices.each do |price| %>
  <div id="prices_wrapper">
    <div class="prices_row">
      <div class="prices_date">   <%= price.date_bought %></div>
      <div class="prices_item">   <%= price.item.name %></div>
	    <div class="prices_amount"> <%= link_to number_with_precision(price.amount, precision: 2), edit_price_path(price.id) %></div>
      <div class="trash">         <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), price, method: :delete, data: { confirm: "Are you sure?" }) %> </div>
    </div>
  </div>
<% end %>