<h1 class="page_title">ITEMS</h1>

<hr>

<% @items.each do |item| %>
  <div id="index_wrapper">
    <div class="row">
      <div class="index_item">  
        <p><%= link_to item.name, edit_item_path(item.id) %></p>
	    </div>
      <div class="trash">
        <p><%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), item, method: :delete, data: { confirm: "Are you sure?" }) %></p>      
      </div>
    </div>
  </div>
<% end %>

<%= link_to "New Items", new_item_path, id: 'button' %>